header.header
  .container-fluid
    .row
      .col
        h1#webpackpugscss-markup-starter-kit
          | Webpack+Pug+Scss markup starter kit
        p
          | A webpack starter kit without any framework (like Angular, Vue, React, etc.) for quickly write markup (HTML+CSS+JS).
